<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- Footer Start -->
    <footer th:fragment="footer" class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span style="white-space: pre;">[[#{copyright}]] &copy; 2023 - [[#{developedBy}]] Lê Bảo Trung</span>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</body>

</html>