<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Footer Start -->
    <footer th:fragment="footer" class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> - Developed by Lee
                </span>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
</body>
</html>