<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <!-- Notification Start -->
    <li th:fragment="notification" class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw mr-1"></i>
            <span class="badge badge-danger badge-counter">2</span>
        </a>
        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
            aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">[[#{notification.title}]]</h6>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle border border-dark" th:src="@{/img/logo/logo.png}"
                        style="max-width: 60px" alt="" />
                    <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold">
                    <div class="text-truncate">
                        New user has been added.
                    </div>
                    <div class="small text-gray-700">System · 58m</div>
                </div>
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle border border-dark" th:src="@{/img/logo/logo.png}"
                        style="max-width: 60px" alt="" />
                    <div class="status-indicator bg-default"></div>
                </div>
                <div class="font-weight-bold">
                    <div class="text-truncate">
                        New user has been added.
                    </div>
                    <div class="small text-gray-700">System · 2w</div>
                </div>
            </a>
            <a class="dropdown-item text-center small text-gray-700" href="#">[[#{notification.showAll}]]</a>
        </div>
    </li>
    <!-- Notification End -->
    <!-- Profile Start -->
    <li th:fragment="profile" class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img id="profile-img" class="img-profile rounded-circle border border-dark" style="max-width: 60px"
                th:src="${#authentication.principal.picture}" />
            <span class="ml-2 d-none d-lg-inline text-gray-800 small">[[#{greeting}]],
                <b sec:authentication="principal.firstname"></b>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" th:href="@{/profile}">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-700"></i>
                [[#{profile}]]
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-700"></i>
                [[#{activity}]]
            </a>
            <a class="dropdown-item" href="#">
                <i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-700"></i>
                [[#{settings}]]
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-700"></i>
                [[#{logout}]]
            </a>
        </div>
    </li>
    <!-- Profile End -->
</body>

</html>